<?xml version="1.0" encoding="UTF-8"?>

<!-- $Id: publication.xml 374687 2006-02-03 15:24:55Z michi $ -->

<lenya:module xmlns:lenya="http://apache.org/lenya/module/1.0">
  <lenya:id>org.wyona.lenya.modules.aurl</lenya:id>
  <lenya:package>org.wyona.lenya.modules</lenya:package>
  <lenya:version>0.1-dev</lenya:version>
  <lenya:name>Archived URL</lenya:name>
  <lenya:lenya-version>@lenya.version@</lenya:lenya-version>
  <lenya:description>A Lenya resource to archive the complete content of a URL. With this resource one can archive for instance newspaper articles for personal usage.</lenya:description>
</lenya:module>
