#!/usr/bin/perl
#
# Script to clone and patch multiple UZH Corporate Website (CWS) publications.
# No need to edit a local.build.properties file and install manually when using this script.
#
#    This script needs an input file called publications.txt containing
#    following informations separated by colon:
#    - new.publication.prefix -> the prefix of the publication
#    - new.publication.name -> the name of the publication
#    - new.publication.homepage -> "keep"/"reset" (needed in "all-cws-pubs-install.pl")
#    - new.publication.master -> the e-mail of the "publication master"
#    Default values of this values of the settings are found in your
#    tools/clone/local.clone.properties.
#
#    DON'T FORGET to set the appropriate $PublicationRoot et cetera !!
#
# jaf: 1.7.2004
#
#  change: 17.01.07 (trd) adapted for cloning and patching of CWS publications
#

use strict;

my $PublicationFile="all-cws-pubs.txt";
my $PublicationRoot="/path/to/lenya-src/build/lenya/webapp/lenya/pubs";
my $LenyaRoot="/path/to/lenya-src";
my $UnicmsRoot="/path/to/unicms-src";
my $target = "install";

my @list;
my $property1;
my $property2;
my $property3;
my $property4;
my $property5;
my $property6;
my $thiscommand;
my $command = "$LenyaRoot/tools/bin/ant -f build.xml";

open (FILE, "<$PublicationFile") or die "Could not open file $PublicationFile: $!\n";

while ($_=<FILE>) {

  @list = split (/:/,$_);
  print "Transforming publication $list[1] into CWS type using prefix $list[0] \n";

  $property1="-Dpub.prefix=\"$list[0]\"";
  $property2="-Dpubs.dir=\"$PublicationRoot\"";
  $property3="-Dhomepage=\"$list[2]\"";
  $property4="-Dunitemplate.srcdir=\"$UnicmsRoot/pubs/unitemplate\"";
  $property5="-Dunizh.srcdir=\"$UnicmsRoot/pubs/unizh\"";

  $thiscommand = "$command $property1 $property2 $property3 $property4 $property5 $target";

  system($thiscommand) == 0 or die "system $thiscommand failed: $? due to: $! \n";
}
