<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://apache.org/lenya/module/1.0">
  <id>org.wyona.lenya.modules.blogentry</id>
  <depends module="org.apache.lenya.modules.usecase"/>
  <package>org.apache.lenya.modules</package>
  <version>0.1-dev</version>
  <name>Blog entry Module</name>
  <lenya-version>@lenya.version@</lenya-version>
  <description>Blog Entry Module</description>
</module>