div.feedbox{
float:right;
background: url('/modules/svg/tab-topLeft-5-EECCCC-BB9999.png') left top no-repeat;
padding:5px;
color: Maroon;
border-bottom: solid 1px #BB9999;
border-right: solid 1px #BB9999;
}
div.overview-entry{
font-weight: normal;
font-size:small;
padding-top:5px;
padding-left:5px;
}
.overview-day{
font-size:medium;
padding-top:2px;
padding-bottom:5px;
padding-left:5px;
}
.overview-month{
font-size: smaller;
padding-top:2px;
padding-bottom:5px;
padding-left:5px;
}
div.overview-year{
font-size: large;
font-weight: bold;
padding-top:2px;
padding-bottom:5px;
}
