/* institute specific part of header */
#headerarea {
	background-color: #dddddd;
}
#headerarea h1 {
        color: #181818;
        font-size: 1.5em;
        line-height: 1.5em;
}
#headerarea h2 {
        color: #181818;
        font-size: 1.0em;
        line-height: 1.0em;
}
.imgunilogo {
	background-color: #ccccff;
}
.imginstitute {
	background-color: #dddddd;
}
