body {
  margin: 0;
  padding: 0;
}

title {
  display:block;
  margin:5px;
  font-size:large;
  font-weight:bolder;
}

summary, author name {
  display:block;
  margin:5px;
}

id, created, issued, modified {
  display:block;
  margin:3px;
  padding:2px;
  background:#ccc;
}

content {
  display:block;
  margin:5px;
}