<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://apache.org/lenya/module/1.0">
  <id>org.wyona.lenya.modules.wiki</id>
  <package>org.apache.lenya.modules</package>
  <version>0.1-dev</version>
  <name>Wiki Module</name>
  <lenya-version>@lenya.version@</lenya-version>
  <description>allow to create wiki documents in Lenya</description>
</module>