/* institute specific part of header */
#headerarea {
	background-color: #666699;
}
.imgunilogo {
	background-color: #ccccff;
}
.imginstitute {
	background-color: #666699;
}

#secnavOben  {
	font-size: 0.95em;
	font-family: Arial, sans-serif;
	line-height: 1.8em;
	color:#666699; 
	display:block;
}
#secnavOben a {
	float:left;
	padding:0px 7px;
	display:block;
}
#secnavOben a.activ {
	background-color:#E9E9F0;
}